* {
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.outer {
    display: flex;
    flex-direction: column;
    width: 60%;
}

h1 {
    margin: .5rem;
    transition: .2s;
}

.bold {
    font-weight: 700;
}

strong {
    margin: 0;
    padding: 0;
}

p {
    font-size: 2rem;
}