.box {
    border: 3px solid black;
    padding: 1rem;
    font-size: 1.3rem;
    margin: .2rem;
    transition: .2s;
    width: 100%;
}

.container {
    display: flex;
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: row;
}

input {
    border: 3px solid darkgray;
    margin-block: .3rem;
    background-color: aliceblue;
    transition: .2s;
    outline: none;
    padding: .4rem;
}

.html-container {
    display: flex;
    flex-direction: column;
}

textarea {
    margin-block: .3rem;
    color: black;
}

button {
    font-size: 2rem;
}